<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- Link Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Include your custom CSS files here -->
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        <style>
            /* Custom Dark Mode Styles */
            body {
                background-color: #121212;
                color: #fff;
            }
            .container {
                background-color: #212121;
            }
            .navbar-dark .navbar-nav .nav-link {
                color: rgba(255, 255, 255, 0.5);
            }
            .navbar-dark .navbar-nav .nav-link:hover {
                color: rgba(255, 255, 255, 0.75);
            }
            .navbar-dark .navbar-nav .active > .nav-link,
            .navbar-dark .navbar-nav .nav-link.active,
            .navbar-dark .navbar-nav .nav-link.show,
            .navbar-dark .navbar-nav .show > .nav-link {
                color: #fff;
            }
            .navbar-dark .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
            /* Custom Footer Styles */
            footer {
                background-color: #343a40;
                color: #fff;
                padding: 40px 0;
            }
            footer a {
                color: #fff;
            }
            footer a:hover {
                color: #ccc;
            }
            /* Custom Footer Styles */
footer {
    background-color: #343a40;
    color: #fff;
    padding: 40px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

        </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Prepa Du Prepa</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cours</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
    
    <!-- Footer -->
    <footer class="footer mt-auto">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>About Us</h5>
                    <p>We are a platform dedicated to preparing students for success.</p>
                </div>
                <div class="col-md-4">
                    <h5>Contact Us</h5>
                    <p>Email: info@prepaduprepa.com</p>
                    <p>Phone: +1234567890</p>
                </div>
                <div class="col-md-4">
                    <h5>Follow Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    
    {% block javascripts %}
        <!-- Include Bootstrap's JavaScript bundle (jQuery and Popper.js) -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Include Font Awesome -->
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <!-- Include your custom JavaScript files here -->
        <script src="{{ asset('js/scripts.js') }}"></script>
    {% endblock %}
</body>
</html>
